html{
    font-size: 100%; /*lets users control the zoom level of their browser*/
    box-sizing: border-box; /*makes the size elements include padding in the final widths*/
}

*, *::before, *::after{
    box-sizing: inherit;
}

/* Global color vars */
/* $darkBlue: hsl(233, 26%, 24%); */
/* $limeGreen: hsl(136, 65%, 51%); */
/* $brightCyan: hsl(192, 70%, 51%); */
/* $grayishBlue: hsl(233, 8%, 62%); */
/* $lightGrayishBlue: hsl(220, 16%, 96%); */
/* $veryLightGray: hsl(0, 0%, 98%); */
/* $white: hsl(0, 0%, 100%); */

nav, nav::after, .navbar-item{
    background-color: #212529 !important;
    color: hsl(0,0%,98%) !important;
}
.navbar-item{
    padding: 8px 128px !important;
}

.navbar-burger{
    top: 46px;
}

a, a::before, a::after{
     background-color: #212529 !important;
}

.navbar-burger:hover, a.navbar-item.is-active:hover{
    color:#0d6efd !important;
/*   here */
}


#navMenu.navbar-menu.is-active{
        background-color: #212529 !important;
    }
.center {
  margin: auto;
  width: 50%;
  border: 0;
  padding: 10px;
}

body{
  margin:0;
  padding: 0;
  line-height: 1.3;
}

button, button:hover{
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  background:  #0d6efd !important;
  color: hsl(0, 0%, 100%) !important;
}

.textarea{
    border-color: transparent !important;
}
.field{
    padding: 80px;
}

.is-primary.textarea:hover {
    border-color: #0d6efd !important;
}

.cropped {
    width: 100px; /* width of container */
    height: 140px; /* height of container */
    object-fit: cover;
    border: 0;
    margin-left: 15px;
    margin-bottom: 5px;
}

.copyright-text{
    text-align: center;
}

footer{
    line-height: 4.5;
    margin-top: auto;
}

a.lgo-nm{
    background-color: white !important;
    color: rgb(25, 206, 235);
}

a.lgo-nm:hover{
    color: #0d6efd !important;
}

/* SPACER SPACER SPACER */
:root{
--bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;}
